<head>
    <title><%= full_title(yield(:title)) %></title>
    <!-- viewに:title定義されてる -->
    <!-- helperにmodule_full_title定義されてる -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <%= render 'layouts/header' %>
    <%= render 'layouts/shim' %>
</head>